<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Memoize Challenge
body
  h1.HeaderOne Header One
  h2.HeaderTwo Header Two
  link(class="button", href="#")

  script(src="/memoize_module.js")
